

*::selection{
   

     color: rgb(113, 169, 28);
}
:root {
    --urban: "Urbanist", sans-serif;
    --tiktok: "TikTok Sans", sans-serif;
    --sansarif: "Source Serif 4", serif;
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
}

.navtopcontainer {
    background-image: url("images/backgroundimage.png");
    background-position-y: 1px;
    background-size: 1100px;
    background-repeat: repeat;
    color: white;
    padding-top: 10px;
    margin: 0px;
    margin-right: 0px;


}



.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: var(--urban);
    gap: 70px;
    align-items: center;

    width: 1200px;

    margin: 0 auto;
    background-color: rgba(69, 68, 68, 0.149);
    border: 5px outset gray;
    border-radius: 40px;







}


.nav:hover {

    background-color: rgba(74, 95, 65, 0.283);
    border: 5px outset gray;
    border-radius: 40px;


}

/* .overnavbar{

    background-color: rgba(69, 68, 68, 0.149);
    border:5px outset gray;
    border-radius: 40px;

    
} */


.logo img {
    width: 100px;
    padding-top: 0px;
}

.nav .content {
    display: flex;
    flex-direction: row;
    font-size: 18px;

    gap: 40px;
}

.nav .right button {
    /* width:136px; */
    font-size: 18px;
    font-family: var(--urban);
    background-color: rgba(86, 84, 84, 0.3);
    border: outset rgb(156, 152, 152) 3px;
    border-bottom-color: rgb(203, 204, 198);
    padding: 10px 19px;
    border-radius: 20px;
    transition: all 0.2s linear;
    color: white;


}

.navbtnlink:hover {
    .navbtn {

        background-color: rgba(192, 245, 3, 0.464);
    }

}

.belowNavContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--urban);

}

.belowNavContent .topsec {
    margin: 70px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.belowNavContent .topsec>* {
    padding: 10px;
    font-family: var(--urban);
}

.belowNavContent .topsec>*:first-child {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.belowNavContent .topsec div:nth-child(2) {
    font-size: 70px;
    font-weight: 700;
    width: 1000px;
    text-align: center;
    /* background-color: aliceblue; */

}

.belowNavContent .topsec div:nth-child(3) {

    width: 600px;
    line-height: 27px;
    text-align: center;

    margin-bottom: 25px;


}

.belowNavContent button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(219, 257, 90);
    font-size: 16px;
    font-family: var(--urban);
    font-weight: 500;
    color: black;
    border: outset 4px rgba(193, 243, 13, 1);
    border-bottom-color: white;
    border-right-color: white;
    transition: all linear 0.2s;

}

.belowNavContentTopSecLink:hover {
    .belowNavContentTopSecbtn {
        background-color: rgba(104, 131, 7, 0.7);
        color: white;
    }

}

.belowNavContent .imgsec img {
    border: 10px outset rgb(115, 114, 121);
    border-radius: 30px;
    /* border:15px outset rgba(131, 128, 128, 0.688); */
    border-bottom: rgb(141, 141, 187) 12px outset;
    border-right: rgb(102, 92, 158) outset 12px;
}

.belowNavContent .brandsec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(114, 174, 223); */
    width: 1200px;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 45px;
    align-items: center;



}

.belowNavContent .brandsec div:nth-child(1) {
    color: rgb(57, 103, 143);
    /* color: white; */
    font-weight: 800;
    font-family: var(--sansarif);


}

.belowNavContent .brandsec div:nth-child(2) {
    font-family: "Creepster", system-ui;
    color: white;
}

.belowNavContent .brandsec div:nth-child(3) {
    font-family: "Asset", serif;
    font-size: 30px;
}

.belowNavContent .brandsec div:nth-child(4) {
    font-family: "Pirata One", system-ui;
    color: rgba(193, 243, 13, 1);

}

.belowNavContent .brandsec div:nth-child(5) {
    font-family: "UnifrakturMaguntia", cursive;
    color: white;

}

.belowNavContent .brandsec div:nth-child(6) {
    font-family: "Berkshire Swash", serif;
    color: rgb(57, 103, 143);

}

.heroSecOne {
    display: flex;
    flex-direction: column;
    width: 1250px;


    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
    ;

}

.heroSecOneTop {
    display: flex;
    flex-direction: row;
    padding-left: 20px;

}

.heroSecOneTopRight img {
    border-radius: 40px;
    border: 10px outset rgb(178, 173, 173);
    border-bottom-color: rgb(241, 240, 240);
    margin-right: 20px;
}

.heroSecOneTopLeft>*:first-child {
    font-size: 50px;
    font-family: var(--urban);
    color: black;
    font-weight: 600;
}

.heroSecOneTopLeft div:nth-child(2) {
    font-family: var(--tiktok);
    font-weight: 400;
    font-size: 16px;
    color: rgb(86, 85, 85);
    width: 600px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 50px;

}

.heroSecOneTopLeft button {
    font-size: 16px;
    font-weight: 440;
    font-family: var(--tiktok);
    padding: 12px 20px;
    /* background-color: rgba(247, 244, 244, 0.595); */
    /* background-color: rgba(176, 174, 174, 0.628);
   color:rgb(0, 0, 0);
   border-radius: 20px;
   border:5px outset rgb(167, 167, 167); */
    border-radius: 20px;
    background-color: white;
    color: black;
    border: solid 1px black;
    transition: cubic-bezier(1, 0.64, 0, 3.51) 0.1s;

}

.heroSecOneTopLeft button:hover {

    /* Style one */
    /* background-color: rgba(192, 245, 3, 1);
        background-image: linear-gradient(to right,rgba(192, 245, 3, 1),white );
        border-color:  rgb(117, 146, 11); */



    /* style two */
    /* background-color: rgba(124, 124, 124, 0.628);
   color:rgb(255, 252, 252);
   border-radius: 20px;
   border:5px outset rgb(126, 125, 125); */


    background-color: greenyellow;
    color: black;
    border: solid 1px greenyellow;

}

.heroSecOneLine {
    width: 1200px;
    margin-top: 70px;
    margin-bottom: 60px;

}

.heroSecOneBottom {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;


}

.heroSecOneBottom .one {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;


}

.heroSecOneBottom .one .icon {
    width: 50px;
    border-radius: 100%;
    background-color: rgb(238, 236, 236);
    justify-content: center;
    display: flex;
    padding: 25px 10px;

}

.heroSecOneBottom .one .content>*:first-child {
    font-size: 35px;
    color: black;
    font-weight: 600;
    font-family: var(--urban);

    margin-top: 4px;

}

.heroSecOneBottom .one .content>*:last-child {
    font-size: 16px;
    color: rgb(64, 63, 63);
    font-weight: 400;
    font-family: var(--tiktok);
    margin-top: -20px;
}



.heroSecTwo {
    background-color: rgb(243, 243, 243);


    min-height: 1100px;
    height: auto;

    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;

}



.heroSecTwo .services {
    font-size: 45px;
    font-family: var(--urban);
    font-weight: 600;
    color: rgb(30, 30, 30);
    text-align: center;
    margin-bottom: 20px;

}





.heroSecTwo .boxcontainer .box1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 480px;
    margin: 40px;
    font-family: var(--urban);
    padding: 50px;
    border-radius: 40px;
    transition: all 1s linear;
    /* padding-bottom: 50px; */







}

.heroSecTwo .boxcontainer .box1:hover {
    background-image: url("images/graylogo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;

    background-position-x: 60px;



}



.heroSecTwo .boxcontainer .box1>*:first-child {
    font-size: 23px;
    color: black;
    font-weight: 540;
    margin-bottom: 30px;
    margin-top: 40px;

}

.heroSecTwo .boxcontainer .box1 div:nth-child(2) {
    font-size: 16px;
    color: rgb(86, 85, 85);
    margin-bottom: 20px;
    font-family: var(--tiktok);

}

.heroSecTwo .boxcontainer .box1 div:nth-child(3) div {

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-family: var(--tiktok);
    font-size: 16px;
    color: rgb(86, 85, 85);





}

.heroSecTwo .boxcontainer1 {
    display: flex;
    gap: 10px;

    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.heroSecTwo .boxcontainer2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;



}

.heroSecTwo .boxcontainer1 .firstbox {

    margin-top: 110px;


}

.heroSecTwo .boxcontainer1 .secondbox {
    margin-top: 50px;
}


.heroSecTwo .boxcontainer2 .thirdbox {
    margin-top: 50px;


}

.heroSecTwo .boxcontainer2 .fourthbox {
    margin-top: -20px;
}

















.herosecthree {
    color: white;
    background-color: black;
    font-family: var(--urban);


    /* min-height: 2000px; */
    height: auto;



}

.herosecthree>*:first-child {
    font-size: 45px;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    /* padding-bottom: 70px;  */


}

.herosecthree .boxcontainer .box {

    /* background-color: aliceblue; */
    width: 500px;

}

.herosecthree .boxcontainer .box .image img,
.herosecthree .boxcontainer2 .box .image img {
    border-radius: 40px;
    transition: all linear o.2s;

}

.herosecthree .boxcontainer .box div:nth-child(2) {

    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;



}

.herosecthree .boxcontainer .box div:nth-child(3) div {
    border: 1px outset rgb(179, 179, 179);
    background-color: rgba(87, 86, 86, 0.4);
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.herosecthree .boxcontainer {
    /* position: relative; */

    display: flex;
    justify-content: center;
    gap: 130px;
}
.herosecthree .boxcontainer .box .image img:hover{
    box-shadow: 0 0 20px rgb(122, 122, 122);
    transform: scale(1.05);

}
.herosecthree .boxcontainer1 .box1 {
    /* background-color: aqua; */
    margin-top: 70px;

}

.herosecthree .boxcontainer1 .box2 {
    margin-top: 140px;
}

/* .herosecthree .boxcontainer2{ 
    background-color: rgb(233, 140, 18);
} */
.herosecthree .boxcontainer2 .box2 {
    margin-top: 60px;
}

.herosecthree .bottombtn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 80px;
}

.herosecthree .bottombtn button {
    font-family: var(--urban);
    font-size: 19px;
    padding: 13px 19px;
    background-color: rgba(54, 53, 53, 0.65);
    color: white;
    font-weight: 400;
    border: 2px outset white;
    border-radius: 25px;
    transition: all linear 0.1s;
    cursor: pointer;
    margin: 0 auto;


}

.herosecthree .bottombtn button:hover {
    /* color:greenyellow;
    border-color:greenyellherosecfourow;
     */
    background-color: greenyellow;
    color: black;

}

.herosecfour {
    background-color: white;
    color: black;
    font-family: var(--urban);
    padding-bottom: 20px;

}

.herosecfour>*:first-child {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;




}

.herosecfour .boxcontainer {

    display: flex;
    margin-top: 60px;
    justify-content: center;
    gap: 25px;
    height: 600px;


}

.herosecfour .boxcontainer .box {
    width: 400px;
    background-color: white;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    margin-bottom: 70px;
    transition: all linear 0.1s;


}
.herosecfour .boxcontainer .box:hover{
    box-shadow: 0 0 15px gray;
}

.herosecfour .boxcontainer .boxone {
    background-color: rgb(243, 243, 243);



}

.herosecfour .boxcontainer .boxone>*:first-child {
    font-size: 50px;
    font-weight: 600;



}

.herosecfourstar {
    color: rgb(250, 172, 4);

}

.herosecfour .boxcontainer .boxone div:nth-child(3) {
    font-size: 16px;
    color: rgb(107, 106, 106);
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 40px;

}

.herosecfour .boxcontainer .boxone div:nth-child(4) {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding-bottom: 40px;


}

.herosecfour .boxcontainer .boxone div:nth-child(5) {

    font-size: 40px;
    font-weight: 800;
    font-family: var(--sansarif);
    /* color: rgb(57, 103, 143); */
    color: black;
    padding-bottom: 80px;



}

.herosecfour .boxcontainer .boxtwo .number,
.herosecfour .boxcontainer .boxthree .number {
    font-size: 30px;
    color: black;
    font-weight: 550;

}

.herosecfour .boxcontainer .boxtwo .reviewContent,
.herosecfour .boxcontainer .boxthree .reviewContent {

    padding: 28px 25px 30px;
    font-size: 20px;
    color: rgb(116, 116, 116);
    font-weight: 350;
    letter-spacing: 2px;
}

.herosecfour .boxcontainer .boxtwo .reviewBy,
.herosecfour .boxcontainer .boxthree .reviewBy {
    font-size: 21px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;

}

.herosecfour .boxcontainer .boxtwo .reviewByBox,
.herosecfour .boxcontainer .boxthree .reviewByBox {
    display: flex;
    background-color: rgb(243, 243, 243);
    margin-top: 40px;
    width: 360px;
    border-radius: 20px;
    padding: 20px;


}

.herosecfour .reviewer_image {
    width: 60px;
    border-radius: 100%;
    margin-right: 20px;

}
.blog-post-container{
    font-family: var(--urban);
        background-color: rgb(243, 243, 243);
        padding-bottom: 130px;


}

.blog-post{
    display: flex;
    width:100%;

    flex-direction: row;
    justify-content: center;
    gap:30px;
    margin:0px;
    

}

.blog-card {
    background-color: white;
    width:450px;
    border-radius: 40px;
    transition:all linear 0.1s;
}
.blog-card:hover{
    box-shadow: 0 0 20px gray;
}
.blog-main-heading{
    text-align: center;
        margin-bottom: 0px;
        font-size: 40px;
        padding:80px;
        font-weight: 600;

}
.blog-content-container{
    margin-left: 20px;
    padding-bottom: 30px;
}
.blog-content{
    font-size: 20px;
    color:black;
    font-weight: 500;
    line-height: 30px;
}
.blog-title{
    font-size: 18px;
    font-weight: 400;
     margin : 30px 0;
           

    


}
.blog-title span{
    border:1px solid rgb(232, 232, 232);
    background-color: rgb(232, 232, 232);
    padding:5px 21px;
    border-radius: 20px;

   
    

}
.blog-image{
    margin:0px;
    border-radius: 40px;
    



}

.blog-image img{
    width: 450px;
    border-start-start-radius: 40px;

}

.blog-meta .author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    color: rgb(103, 103, 103);
    font-size: 15px;
    
    
}
.blog-meta .author img{
    width:20px;
}
.contact-hero{

    display:flex;
    flex-direction: column;
    align-items: center;

    background-image:url("images/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: var(--urban);
    color:white;

    padding-top: 80px;
    padding-bottom: 100px;
}
.contact-hero figure img {
    width: 300px;
    border-radius: 100%;
    /* background-color: aliceblue; */
    padding-left: 30px;

}

.contact-hero header h1{
    font-size: 50px;
    font-weight: 600;


}
.contact-hero header p {
    font-size: 20px;
    color:white;
    text-align: center;
}
.contact-hero address{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-hero .button button{
    font-size: 16px;
    padding:10px 25px;
    border-radius: 30px;
    color:white;
    background-color:rgba(0, 0, 0, 0);
    border:2px outset rgb(149, 149, 149);
    transition:  all linear 0.1s;
    margin-bottom: 30px;
}
.contact-hero .button button:hover{
    background-color: rgba(75, 75, 75, 0.564);
    box-shadow:0 0 20px white;
    cursor: pointer;
}

.contact-hero address a{
    color: white;
    font-size: 18px;
    font-weight:700;
    transition: all linear 0.1s;
    /* background-color: rgb(35, 128, 209) ; */
   height: 30px;

}
.contact-hero address a:hover{
    color:rgb(12, 222, 12);
    font-size: 20px;
    cursor: pointer;

}
.site-footer{
    font-size: 16px;
    color: black;
    font-family: var(--urban);


    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    align-items: flex-start;
    


    padding-top: 100px;
    padding-bottom: 100px;

    letter-spacing: 0.5px;


}

 .site-footer .about-company {
    display:flex;
    flex-direction: column;
   
 }

 .site-footer .about-company .content{
    width: 250px;
    font-size: 16px;
    
    color:rgb(90, 90, 90);
    letter-spacing: 0.5px;
    font-weight: 450;
    line-height: 23px;

    margin-bottom: 25px;
 }

.site-footer .social-media-handle{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.site-footer .social-media-handle img{
    width: 30px;
}



.site-footer .about-company .c-name{
    font-size: 30px;
    font-weight: 400;
     margin-bottom: 20px;
}
 
.site-footer .about-company .c-name span{
   font-family: "UnifrakturMaguntia", cursive;
   font-size: 40px;
   font-weight: 900;



}

.site-footer h3{
    color:black;
    font-size: 24px;
    font-weight: 500;
}

.site-footer .quick-links div{
    margin-right: 200px;
}

.site-footer .quick-links div, .site-footer .services div{

       color:rgb(90, 90, 90);
       line-height: 30px;
       font-weight: 450;
    




}
.site-footer .form form {
    display: flex;
    flex-direction: column;
    gap:10px;
   width:290px;
   
    
    
}
.site-footer .form {
   display: flex;
   flex-direction: column;
   
   align-items: flex-start;
    margin-left: 40px;
}

.site-footer .form  form input{
    font-size: 18px;
    padding:10px 5px;
}

.site-footer .form  form input[type="submit"]{
   background-color: black;
   color:white;
   border:none;
   border-radius: 10px;

}
.site-footer .form input[type="submit"]:hover{
    background-color: greenyellow;
    color:black;
    border:3px outset rgb(104, 175, 104);
}

.footerline{
    width:1200px;
     

    border:1px solid rgb(189, 186, 186);
    margin:0px;
    margin:0 auto;
}
.copyrightstatement{
    color:rgb(134, 133, 133);
    font-weight: 450 ;
    font-size:17px;
    font-family: var(--urban);
    text-align: center;

    padding: 30px;
    margin:0px;
}